input {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn {
  border: none;
  font-weight: 500;
  margin-left: 15px;
  padding: 2%;
  width: 90%;
}

.btnForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.btnForgetPwd:hover {
  text-decoration: none;
  color: #fff;
}

.row {
  justify-content: center;
}

