<div class="container session-form-container">
  <div *ngIf="errorMessage" class="row">
    <div class="col-md-6">
      <ngb-alert  [type]="'danger'" (closed)="close()">{{ errorMessage }}</ngb-alert>
    </div>
  </div>
  <div class="row">
    <div class="col session-form">
      <h3 class="session-form-title">{{ 'crear cuenta' | uppercase}}</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'email' | titlecase}}</mat-label>
            <input [formControl]="email" matInput required>
            <mat-error *ngIf="email.invalid">{{'campo obligatorio' | titlecase}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'nombre de usuario' | titlecase}}</mat-label>
            <input [formControl]="username" matInput required>
            <mat-error *ngIf="username.invalid">{{'campo obligatorio' | titlecase}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'clave' | titlecase}}</mat-label>
            <input [formControl]="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">
              {{hidePassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="password.invalid">{{'campo obligatorio' | titlecase}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{'repetir clave' | titlecase}}</mat-label>
            <input [formControl]="confirmPassword" 
              [type]="hide ? 'password' : 'text'"
              (keyup)="passwordMatch()"
              required
              matInput>
            <mat-icon matSuffix (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="confirmPassword.errors">{{'las claves deben ser iguales' | titlecase}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row mb-3 mt-4">
          <button type="submit "class="btn btn-success btn-lg btn-block"> {{'crear cuenta' | titlecase }}</button>
        </div>
      </form>
    </div>
  </div>
  <ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>
</div>