.btn {
  font-weight: 500;
  border: none;
  padding: 2%;
  width: 50%;
}

.row {
  justify-content: center;
}

.session-form {
  background-color: darkslategray;
}

.form-control {
  margin-bottom: 10px;
}

.error-field {
  border: solid red;
}

.error-message {
  color: lightcoral;
}
