.teams-title {
  color: white;
  padding-top: 180px;
  padding-bottom: 50px;
  text-align: center;
}

.teams-table {
  width: 100%;
  background-color: rgba(4, 4, 22, 0.212);
  font-family: "Grotesk-Regular";
}

.mat-column-name {
  padding-left: 16px;
}

th {
  font-size: 20px;
  font-family: "Grotesk-Bold";
}

#name {
  font-size: 16px;
}
