<div class="container session-form-container">
  <div *ngIf="errorMessage" class="row">
    <div class="col-md-6">
      <ngb-alert  [type]="'danger'" (closed)="close()">{{ errorMessage }}</ngb-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 session-form">
      <h3 class="session-form-title text-center">{{ 'login' | titlecase}}</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input [ngClass]="errors && loginForm.controls['email'].errors ? 'form-control error-field' : 'form-control'" 
            type="email" 
            placeholder="Your Email *" 
            value="" 
            formControlName="email"/>
          <span class="error-message" *ngIf="errors && loginForm.controls['email'].errors?.required">
            * Email is required.
          </span>
        </div>
        <div class="form-group">
          <input [ngClass]="errors && loginForm.controls['password'].errors ? 'form-control error-field' : 'form-control'" 
            type="password" 
            placeholder="Your Password *"
            value=""
            formControlName="password"/>
          <span class="error-message" *ngIf="errors && loginForm.controls['password'].errors?.required">
            * Password is required.
          </span>
        </div>
        <div class="row mb-3 mt-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block"> {{'login' | titlecase }}</button>
        </div>
        <div class="form-group">
          <a href="#" class="ForgetPwd">{{ 'forgot password?' | titlecase}}</a>
        </div>
        <div>
          <a [routerLink]="['/register']" class="ForgetPwd">{{ 'Create account'}}</a>
        </div>
      </form>
    </div>
  </div>
</div>