<div class="container">
  <div class="home-title">
    <h1 id="title">La Manera De Seguir A Tus Equipos</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-sm-2 mx-5" id="left">
    <mat-card class="card">
      <img mat-card-image class="card-image" src="assets/images/home2.png">
      <mat-card-subtitle class="card-subtitle">{{'registra tu equipo' | uppercase}}</mat-card-subtitle>
    </mat-card>
  </div>
  <div class="col-lg-2 col-sm-2">
    <mat-card class="card">
      <img mat-card-image class="card-image" src="assets/images/home2.png">
      <mat-card-subtitle class="card-subtitle">{{'nueva competicion' | uppercase}}</mat-card-subtitle>
    </mat-card>
  </div>  
  <div class="col-lg-2 col-sm-2 mx-5" id="right">
    <mat-card class="card">
      <img mat-card-image class="card-image" src="assets/images/home2.png">
      <mat-card-subtitle class="card-subtitle">{{'favoritos' | uppercase}}</mat-card-subtitle>
    </mat-card>
  </div>
  <div class="col-lg-2 col-sm-2">
    <mat-card class="card">
      <img mat-card-image class="card-image" src="assets/images/home2.png">
      <mat-card-subtitle class="card-subtitle">{{'registra tu equipo' | uppercase}}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
