.actions-container {
  margin-left: 150px;
  margin-right: 150px;
}

.container {
  height: 27%;
}

.home-title {
  color: white;
  padding-top: 180px;
  padding-bottom: 50px;
  text-align: center;
}

.mat-card {
  background: none;
  transition: 0.2s;
}

.card-subtitle {
  color: white;
  font-family: "Grotesk-Regular";
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.card-footer {
  color: white;
  font-family: "Grotesk-Light";
  text-align: center;
  visibility: hidden;
}

mat-card:hover {
  transform: scale(0.9) translateY(-30px);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));

  mat-card-footer {
    visibility: visible;
  }
}

card-footer:hover {
  visibility: visible;
}

#left {
  margin-left: 4rem !important;
}

#right {
  margin-left: 25rem !important;
}

#title {
  font-size: 4.25rem;
  font-family: "Bebas Neue";
  letter-spacing: 0.5rem;
}
