.actions-container {
  margin-left: 150px;
  margin-right: 150px;
}

.container {
  height: 25%;
}

.home-title {
  color: white;
  font-family: "Grotesk-SemiBold";
  padding-top: 180px;
  padding-bottom: 50px;
  text-align: center;
}

img:hover {
  transform: scale(0.8) translateY(-30px);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

img {
  transform: scale(0.7);
  transition: 0.2s;
}

#left {
  margin-left: 4rem !important;
}

#title {
  font-size: 3.25rem;
}
