.container {
  justify-content: center;
}

.navbar {
  height: 60px;
  font-family: "Grotesk-Regular";
  background: linear-gradient(
    90deg,
    rgba(244, 5, 5, 0.35) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(5, 31, 217, 0.35) 100%
  );
}

.navbar-brand {
  font-size: 2.25rem;
  letter-spacing: 3px;
}

.navbar-right {
  justify-content: end;
  width: 75%;
}
