/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "Grotesk-Light";
  src: url(./assets/fonts/SpaceGrotesk-Light.ttf);
}
@font-face {
  font-family: "Grotesk-Regular";
  src: url(./assets/fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: "Grotesk-Bold";
  src: url(./assets/fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: "Grotesk-SemiBold";
  src: url(./assets/fonts/SpaceGrotesk-SemiBold.ttf);
}

@font-face {
  font-family: "Grotesk-Medium";
  src: url(./assets/fonts/SpaceGrotesk-Medium.ttf);
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.session-form-container {
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}

.session-form {
  padding: 9%;
  background: #282726;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  width: 45%;
}

.session-form h3 {
  text-align: center;
  margin-bottom: 5%;
  color: #fff;
}

.mat-card,
.mat-card-subtitle {
  color: black;
}

.mat-select-value,
.mat-select-arrow {
  color: black;
}

.mat-select-value-text {
  padding-left: 10px;
}

.mat-form-field-flex {
  background-color: rgb(0, 0, 0, 0.09);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: lightgreen;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Grotesk-Regular", Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/images/background.jpg");
}
